<div class="banner-head">
  <div class="banner-1"></div>
  <div class="container">
    <h1>About Us</h1>
  </div>
</div>
<!--content-->
<div class="about">
  <!--content-top-->
  <div class="container">
    <div class="about-top">
      <div class="col-sm-4 top-content">
        <a href="single.html"> <%= image_tag("g1.jpg", :class => "img-responsive") %></a>
        <h4><a href="single.html">CEO</a></h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="col-sm-4 top-content">
        <a href="single.html"> <%= image_tag("sn1.jpg", :class => "img-responsive") %></a>
        <h4><a href="single.html">Director</a></h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="col-sm-4 top-content">
        <a href="single.html"> <%= image_tag("km1.jpg", :class => "img-responsive") %></a>
        <h4><a href="single.html">Development marketer</a></h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!---->
  <div class="why">
    <div class="container">
      <div class="why-top-top">
        <div class="why-top">
          <h2>Why Choose Us</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-sm-4 why-top1">
          <span>1</span>
          <h6><a href="single.html">Lorem ipsum dolor sit amet</a></h6>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore.</p>
          <a href="single.html" class="read-more">Read More</a>
        </div>
        <div class="col-sm-4 why-top1">
          <span>2</span>
          <h6><a href="single.html">Lorem ipsum dolor sit amet</a></h6>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.</p>
          <a href="single.html" class="read-more">Read More</a>
        </div>
        <div class="col-sm-4 why-top1">
          <span>3</span>
          <h6><a href="single.html">Lorem ipsum dolor sit amet</a></h6>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna.</p>
          <a href="single.html" class="read-more">Read More</a>
        </div>
        <div class="clearfix"></div>
      </div>

    </div>
  </div>
  <!---->
  <div class="team">
    <div class="container">
      <h3>Developer Team</h3>

      <div class="col-md-3 team-top">
        <%= image_tag("tee3.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Lorem ipsum dolor sit</p>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("tee1.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Lorem ipsum dolor sit</p>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("tee2.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Designer</h5>

          <p>Lorem ipsum dolor sit</p>
        </div>

      </div>
      <div class="col-md-3 team-top">
        <%= image_tag("tee.jpg", :class => "img-responsive") %>

        <div class="team-text">
          <h5>Developer</h5>

          <p>Lorem ipsum dolor sit</p>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>