<div class="banner">
  <div class="banner-1"></div>
  <div class="container">
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true
            });
        });
    </script>
    <div class="banner-top">
      <div class="col-sm-6 head-banner">
        <div class="slider">
          <div class="callbacks_container">
            <ul class="rslides" id="slider">
              <li>
                <h3>Formal education</h3>

                <p>Education is the process of facilitating learning. And skills improvement .</p>

                <div class="readmore">
                  <a href="about.html">Read More<i class="glyphicon glyphicon-"> </i></a>
                </div>
              </li>
              <li>
                <h3>Self-directed learning</h3>

                <p>Learning Education is the process of facilitating learning. Knowledge, </p>

                <div class="readmore">
                  <a href="about.html">Read More<i class="glyphicon glyphicon-menu-right"> </i></a>
                </div>
              </li>
              <li>
                <h3>Learning modalities</h3>

                <p>Storytelling Education is the process of facilitating learning.</p>

                <div class="readmore">
                  <a href="about.html">Read More<i class="glyphicon glyphicon-menu-right"> </i></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 banner-head1">
        <%= image_tag("softdevelop.png", :class => "img-responsive") %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--content-->
<div class="content">
  <div class="container">
    <div class="content-top-top">
      <div class="content-top">
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-cog"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-user"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-time"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="content-top">
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-leaf"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-erase"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 wel">
          <div class="content-ic">
            <i class="glyphicon glyphicon-grain"></i>
          </div>
          <div class="content-text">
            <h5>It is a long established </h5>

            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!---->
  </div>
  <!---->
  <div class="content-middle" style="background:#3f7fd6;">
    <!-- FlexSlider -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(function () {
            SyntaxHighlighter.all();
        });
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- FlexSlider -->
    <div class="col-md-6 content-middle1">
      <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <%= image_tag("lab.jpg", :class => "img-responsive") %>
            </li>
            <li>
              <%= image_tag("slide2.jpg", :class => "img-responsive") %>
            </li>
            <li>
              <%= image_tag("slide3.jpg", :class => "img-responsive") %>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-md-6 content-middle2">
      <h3>About</h3>

      <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. Basmodi
        temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure reprehend.Unicmquam eius,
        Basmodi temurer sehsMunim
        nostrum exercitationem untarseam.
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
      <ul>
        <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Masagni dolores eoquie voluptaquisquam estqui dolorem</a>
        </li>
        <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Ipsumquia dolor sitamnetase adipiscquam eiuse</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-ok"></i>Basmodi temporant, ut laboreas dolore magnam aliquam</a>
        </li>
      </ul>

    </div>
    <div class="clearfix"></div>
  </div>
  <!---->
  <div class="events">
    <div class="container">
      <h2>Our Solutions</h2>

      <div class="events-top">
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("web.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">Web development</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("mobile.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">Mobile development</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("ussd.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">USSD development</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="events-top">
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("desktop.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">Desktop development</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("braindev.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">Design process</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="col-sm-4 top-event">
          <a href="single.html"><%= image_tag("testing.jpg", :class => "img-responsive") %></a>
          <h4><a href="single.html">Application Testing</a></h4>
          <span><i class="glyphicon glyphicon-calendar"></i>08/08/2015 11:00 Am</span>

          <p>Masagni dolores eoquie voluptaquisquam estqui dolorem ipsumquia dolor sitamnetase adipiscquam eiuse. </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!---->
</div>